html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
}

.catalog-index {
  background-color: #fefefe;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ----------------------------Header------------------------------------- */

.page-header {
  background-color: #ffffff;
}

.menu-list {
  list-style: none;
}

.menu-link {
  color: #000000;
  line-height: 26px;
}

.menu-list a:hover,
.menu-list a:focus {
  color: #81b3d2;
}

.menu-list a:active {
  color: #cacaca;
}

fieldset {
  border: none;
}

/* ----------------------------Main------------------------------------- */

.greeting {
  background-image: url("../img/background/backgroundlogo.jpg");
  background-repeat: no-repeat;
  text-align: center;
}

.advantages {
  background-color: #ffffff;
  text-align: center;
}

.advantages-heading {
  font-size: 21px;
  line-height: 26px;
}

.advantages-text {
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.advantages-list {
  list-style: none;
}

.feedback {
  background-color: #ffffff;
}

.feedback-heading {
  font-size: 30px;
  line-height: 36px;
}

.feedback-text {
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  text-align: center;
}

.button-search {
  background-color: #766357;
}

.button-search:hover,
.button-search:focus {
  background-color: #604e43;
}

.button-search:active {
  background-color: #503e33;
  color: #928a85;
}

.feedback-form {
  background-color: #ffffff;
}

.feedback-field {
  background-color: #f2f2f2;
  border: none;
}

.feedback-field:hover {
  background-color: #ebebeb;
}

.feedback-field:focus {
  background-color: #ffffff;
}

.feedback-signature {
  line-height: 26px;
}

.button-find {
  background-color: #81b3d2;
}

.button-find:hover,
.button-find:focus {
  background-color: #669ec0;
}

.button-find:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.catalog-list {
  list-style: none;
}

.catalog-heading {
  font-size: 21px;
  line-height: 26px;
}

.catalog-link {
  color: #000000;
}

.catalog-link:hover,
.catalog-link:focus {
  color: #81b3d2;
}

.catalog-link:active {
  color: #cacaca;
}

.structure,
.cost {
  color: #333333;
  font-weight: 400;
}

.link-details {
  color: #ffffff;
  background-color: #81b3d2;
}

.link-details:hover,
.link-details:focus {
  background-color: #669ec0;
}

.link-details:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.button-order {
  background-color: #766357;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
}

.button-order:hover,
.button-order:focus {
  background-color: #604e43;
}

.button-order:active {
  background-color: #503e33;
  color: #8b827c;
}

.rating {
  background-color: #f2f2f2;
  font-weight: 400;
}
.virtues-heading {
  font-size: 21px;
  font-weight: 21px;
}

.virtues-text {
  font-weight: 400;
}

.advice-list {
  list-style: none;
}

.advice-heading {
  font-size: 21px;
  font-weight: 21px;
  color: #000000;
}

.advice-text {
  font-weight: 400;
  color: #333333;
}

.infrastructure {
  border: none;
}

.infrastructure-heading,
.type-heading,
.cost-heading {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter {
  background-image: url("../img/background/filterbackground.jpg");
  background-repeat: no-repeat;
}

.infrastructure-list,
.type-list,
.search-filter-list {
  list-style: none;
}

.input-checkbox + label {
  color: #ffffff;
  font-weight: 400;
}

.input-text {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.input-text[type="text"] {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}

.filter-button {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #ffffff;
  color: #000000;
}

.search-filter {
  background-color: #fefefe;
}

.search-results {
  background-color: #fefefe;
}

.found,
.found-quantity {
  font-size: 21px;
  line-height: 26px;
}

.search-filter-subheading {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.radio-button {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

/* ----------------------------Footer------------------------------------- */

.page-footer {
  background-color: rgba(253, 253, 253, 0.9);
}

.link-hashtag,
.link-phone {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.link-hashtag:hover,
.link-phone:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
}

.social-link {

}