html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
}

html { 
  box-sizing: border-box; 
}

*, *::before, 
*::after { 
  box-sizing: inherit; 
}

.catalog-index {
  background-color: #fefefe;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/* ----------------------------Header------------------------------------- */

.page-header {
  background-color: #ffffff;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu-link {
  color: #000000;
  line-height: 26px;
}

.menu-link:hover,
.menu-link:focus {
  color: #81b3d2;
}

.menu-link:active {
  color: #cacaca;
}

fieldset {
  border: none;
}

.logo-link {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.menu-item {
  width: 25%;
  margin-top: 20px;
  margin-bottom: 17px;
}

.menu-item:nth-child(4n+3),
.menu-item:nth-child(4n+4) {
  text-align: right;
}

.main-navigation {
  padding: 0 72px;
}


/* ----------------------------Main------------------------------------- */

.greeting {
  position: relative;
  background-image: url("../img/background/backgroundlogo.jpg");
  background-repeat: no-repeat;
  text-align: center;
  padding: 75px 0;
}

.advantages {
  background-color: #ffffff;
}

.advantages-heading {
  font-size: 21px;
  line-height: 26px;
  width: 617px;
  margin:0 auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

.advantages-text {
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin: 0;
  padding-bottom: 52px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none; 
  counter-reset: item; 
}

.advantages-item-wrapper::before,
.advantages-item:nth-child(n+3)::before {
  content: '- №'counter(item)' -'; /* Добавляем к числам скобку */ 
  counter-increment: item; /* Задаём имя счетчика */
  font-weight: 400;
  margin-bottom: 25px;
}

.search {
  background-color: #ffffff;
  padding-top: 55px;
}

.search-heading {
  max-width: 445px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 38px;
}

.search-text {
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  width: 450px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 53px;
}

.button {
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
}

.button-primary {
  background-color: #766357;
  padding: 0;
  padding: 6px 17px;
}

.search-modal-button {
  width: 570px;
  font-size: 21px;
  line-height: 26px;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 35px 100px;
}

.button-primary:hover,
.button-primary:focus {
  background-color: #604e43;
}

.button-primary:active {
  background-color: #503e33;
  color: #928a85;
}

.search-form {
  background-color: #ffffff;
  width: 570px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  padding: 55px;
  box-shadow: 3px 3px 7px 0px rgb(0, 0, 0, 0.35);
}

.feedback-field {
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.feedback-field:hover {
  background-color: #ebebeb;
}

.feedback-field:focus {
  background-color: #ffffff;
  outline-color: #e5e5e5 ;
}

.search-label {
  line-height: 26px;
}

.button-secondary {
  background-color: #81b3d2;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: #669ec0;
}

.button-secondary:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-heading {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.catalog-discription-wrapper {
  margin-bottom: 10px;
}

.button--details {
  display: inline-block;
  padding: 6px 17px;
}

.catalog-link {
  color: #000000;
}

.catalog-link:hover,
.catalog-link:focus {
  color: #81b3d2;
}

.catalog-link:active {
  color: #cacaca;
}

.structure,
.cost {
  color: #333333;
  font-weight: 400;
}

.catalog-item-rating {
  background-color: #f2f2f2;
  font-weight: 400;
  display: block;
  padding: 6px 16px;
}

.advantages-title {
  text-align: center;
  font-size: 21px;
  margin: 0;
  max-width: 200px;
  order: -1;
  margin-bottom: 25px;
}

.item-text {
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.advantages-sublist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.advantages-subtitle {
  font-size: 21px;
  color: #000000;
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
}

.advantages-subtext {
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin: 0;
}

.infrastructure {
  border: none;
}

.filter-heading {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 28px;
}

.filter {
  background-image: url("../img/background/filterbackground.jpg");
  background-repeat: no-repeat;
}

.filter-list,
.sort-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-checkbox + label {
  color: #ffffff;
  font-weight: 400;
}

.input-text {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.input-text[type="text"] {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}

.filter-button {
  background-color: transparent;
  border: 2px solid #ffffff;
  font-weight: 400;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #ffffff;
  color: #000000;
}

.sort-filter {
  background-color: #fefefe;
  display: flex;
  align-items: center;
}

.search-results {
  background-color: #fefefe;
}

.sort-title,
.sort-title-quantity {
  font-size: 21px;
  line-height: 26px;
}

.sort-title {
  margin-right: 45px;
}

.sort-filter-subheading {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 38px;
}

.sort-label {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.menu-link--active {
  color: #766357;
}

.menu-link--active:hover,
.menu-link--active:focus,
.menu-link--active:active {
  color:  #766357;
}

.search-submit {
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  padding: 20px 50px;
}

.advatages-heading-wrapper {
  display: flex;
  flex-direction: column;
}

.poligon {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  fill: #ffffff;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(2) {
  width: 100%;
}

.advantages-item:nth-child(n+3),
.advantages-subitem {
  background-color: #eeeeee;
  max-width: calc(100% / 3);
  padding: 40px 69px 40px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.advantages-subitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 55px 40px;
}

.advantages-item-wrapper {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 40px 60px 40px;
}

.field-wrapper {
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field-wrapper:nth-child(1),
.field-wrapper:nth-child(2) {
  width: 100%;
}

.field-wrapper:nth-child(3),
.field-wrapper:nth-child(4) {
  width: 50%;
}

.field-wrapper:nth-child(4) {
  padding-left: 53px;
}

.sort-filter-list {
  display: flex;
  flex-grow: 1;
}

.sort-filter-item:nth-child(-n+2) {
  margin-right: 30px;
}

.sort-filter-item:nth-child(3) {
  margin-right: auto;
}

.sort-filter-item:last-of-type {
  margin-left: 12px;
}

.catalog-item {
  display: flex;
  border-bottom: 2px solid #f2f2f2;
  padding: 32px 72px;
}

.catalog-image {
  order: -1;
  margin-right: 30px;
}

.rating-stars-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.filter-form {
  display: flex;
  padding: 30px 72px;
}

.filter-item {
  padding-bottom: 23px;
}

.catalog-content-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.advantages-subitem::before {
  content: "";
  display: block;
  width: 80px;
  height: 82px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 30px;
}

.advantages-subitem--house::before {
  background-image: url("../img/svg/icon-house.svg");
}

.advantages-subitem--burger::before {
  background-image: url("../img/svg/icon-burger.svg");
}

.advantages-subitem--box::before {
  background-image: url("../img/svg/icon-box.svg");
}

.advantages-image-right {
  width: 800px;
  height: 256px;
  background: url("../img/background/sedona.jpg") no-repeat center;
}

.advatages-image-left {
  width: 800px;
  height: 256px;
  background: url("../img/background/devil-bridge.jpg") no-repeat center;
  order: -1;
}

.catalog-content-wrapper-left {
  margin-right: auto;
}

input[type="radio"] + label {
  border-bottom: 1px dotted #81b3d2;
  color: #cacaca;
  cursor: pointer;
}

input[type="radio"] + label.sort-label--active {
  color: #81b3d2;
  border-bottom: none; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

input::-webkit-inner-spin-button {
  display: none;
}

.feedback-field-date {
  width: 345px;
  padding-top: 14px;
  padding-right: 9px;
  padding-bottom: 14px;
  padding-left: 13px;
}

.feedback-field-number {
  width: 114px;
  padding: 14px;
}

.feedback-field-date::after {
  content: "";
  width: 25px;
  height: 25px;
  background: url("../img/svg/calendar.svg") no-repeat center;
}

.input-checkbox + label::before {
  content: "";
  background-image: url("../img/svg/checkbox-off.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 28px;
  height: 25px;
  cursor: pointer;
}

.input-checkbox:checked + label::before {
  content: "";
  background-image: url("../img/svg/checkbox-on.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 28px;
  height: 25px;
  cursor: pointer;
}

.filter-form-group-first {
  margin-right: 115px;
}

.rating-stars-list {
  list-style: none;
  margin: 0;
}

.rating-stars-item {
  width: 19px;
  height: 19px;
  background-image: url("../img/svg/star.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sort-filter {
  padding: 32px 72px;
  border-bottom: 2px solid #f2f2f2;
}

.catalog-content-wrapper-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.map {
  display: block;
}

.advantages-item-simple .advantages-title {
  width: 160px;
}

.icon {
  fill: #cacaca;
}

input[type="radio"]:hover + label {
  color: #81b3d2;
}

input[type="radio"]:active + label {
  color: #000000;
  border-bottom: none;
}

input[type="radio"] + .sort-label--icon {
  border-bottom: none;
}
/* Тренеровачные стили */
.form-show {
  display: none;
}
/* -------------------- */
/* ----------------------------Footer------------------------------------- */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-right: 100px;
  padding-bottom: 35px;
  padding-left: 125px;
  background-color: #fefefe;
}

.page-footer--position {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(253, 253, 253, 0.9);
}

.footer-contact {
  margin: 0;
}

.link-hashtag,
.link-phone {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.link-hashtag:hover,
.link-phone:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.social-item:not(:last-child) {
  margin-right: 5px;
}

.social-link {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  display: flex;
  align-items: center;
  margin: 0;
}

.copyright-link {
  display: block;
  width: 127px;
}

.copyright-link:hover .copyright-icon,
.copyright-link:focus .copyright-icon {
  fill: #81b3d2;
}

.copyright-link:active .copyright-icon {
  fill: #bdbbbc;
}

.copyright-text {
  margin-right: 8px;
  line-height: 26px;
}

.social-link:hover,
.social-link:focus {
  background-color: #669ec0;
}

.social-link:active {
  background-color: #5496bd;
}

.social-link:active .social-icon {
  opacity: 0.5;
}

.copyright-icon {
  display: block;
}

.social-icon {
  fill: #ffffff;
}